{% macro person(name, pic, phone, email) %}
  <div class="grow-0 my-2 p-4 bg-gray-400 dark:bg-gray-800 rounded-lg shadow-lg">
    <div class="avatar">
      <img src="{{ base_path }}/images/{{ pic }}" alt="{{ name }}"></div>
      <div>
        <h2>{{ name }}</h2>
        <div>Phone:
          {{ phone }}</div>
        <div>Email:
          {{ email }}</div>
      </div>
    </div>
  {% endmacro %}