<!-- start custom footer snippets -->
{% include base_path %}
<div class="feature__wrapper">
  <div class="feature__item">
    <div class="footer__maprunner">
<strong>About</strong>
<br /><a href="{{base_path}}/about/">Maprunner</a>
<br /><a href="{{base_path}}/helen/">Helen</a>
<br /><a href="{{base_path}}/simon/">Simon</a>
    </div>
  </div>
  <div class="feature__item">
    <div class="footer__maprunner">
<strong>Resources</strong>
<br /><a href="{{base_path}}/map-symbols/">Map Symbols</a>
<br /><a href="{{base_path}}/iof-control-descriptions/">IOF Control Descriptions</a>
    </div>
  </div>
  <div class="feature__item">
    <div class="footer__maprunner">
<strong>Results</strong>
<br /><a href="{{base_path}}/wocdb/">WOC/JWOC Database</a>
<br /><a href="{{base_path}}/arbor/">Arbor</a>
<br /><a href="{{base_path}}/bof-records/">BOF Records</a>
    </div>
  </div>
</div>
<!-- end custom footer snippets -->