---
layout: splash
feature_row:
  - image_path: helenerrington.jpg
    alt: "Helen orienteering"
    title: "Maprunner"
    excerpt: "Maprunner provides orienteering services and resources such as mapping, coaching, training courses and permanent courses."
  - image_path: mapsymbols.jpg
    alt: "orienteering map symbols"
    title: "Map Symbols"
    excerpt: "Download your own copy of the Maprunner map symbol guides for normal, sprint and schools maps."
    url: "/map-symbols"
    btn_label: "Download"
  - image_path: iofcondesc.jpg
    alt: "IOF control descriptions"
    title: "Control Descriptions"    
    excerpt: "Download your own copy of the Maprunner IOF pictorial control description guide."
    url: "/iof-control-descriptions"
    btn_label: "Download"
feature_row2:
  - image_path: highfield.jpg
    alt: "Highfield Park map extract"
    title: "Mapping"
    excerpt: "We have produced numerous maps of schools, parks and woodland. Our St Albans map won the Walsh Trophy 2013 for best urban or sprint map."
  - image_path: results.jpg
    alt: "orienteering results"
    title: "British Results Database"
    excerpt: "See winners of all BOF Major Events or find out how you did in Arbor, an Archive of British Orienteering Records."
    url: "/bof-records"
    btn_label: "Search database"
  - image_path: wocdb.jpg
    alt: "World Orienteering Championships results"
    title: "WOC/JWOC Database"
    excerpt: "Search through results from all World and Junior World Orienteering Championships."
    url: "/wocdb"
    btn_label: "Search database"
---

{% include feature_row %}

{% include feature_row id="feature_row2" %}
