<script src="{{ base_path }}/assets/js/ag-grid.min.js"></script>
<script type="text/javascript">
  (function () {
    // wait for the document to be loaded, otherwise
    // ag-Grid will not find the div in the document.
    document.addEventListener("DOMContentLoaded", function() {
    var results = [
"1;British Long;1967;NEOA;Hamsterley;Gordon Pirie;Carol McNeill",
"2;British Long;1968;WMOA;Cannock Chase;Gordon Pirie;Hazel Hill",
"3;British Long;1969;SOA;Kirroughtree;Mike Wells-Cole;Carol McNeill",
"4;British Long;1970;SWOA;Fernworthy;Mike Wells-Cole;Sue Banner",
"5;British Long;1971;NEOA;Redesdale;Geoff Peck;Sue Bone",
"6;British Long;1972;SCOA;Mark Ash Wood;Mike Murray;Carol McNeill",
"7;British Long;1973;NWOA;Tarn Hows;Geoff Peck;Allyson Reed",
"8;British Long;1974;SEOA;Blackdown;Alistair Wood;Carol McNeill",
"9;British Long;1975;EMOA;Strines;Tony Thornley;Carol McNeill",
"10;British Long;1976;YHOA;Cropton;Geoff Peck;Carol McNeill",
"11;British Long;1977;WMOA;Cannock Chase;Geoff Peck;Sue Banner",
"12;British Long;1978;SOA;Tentsmuir;Brian Bullen;Jenny Pearson",
"13;British Long;1979;NWOA;Bethecar Moor;Geoff Peck;Jean Ramsden",
"14;British Long;1980;SCOA;Bramshaw;Chris Hirst;Sue Parkin",
"15;British Long;1981;NEOA;Dipton Wood;Chris Hirst;Course void",
"16;British Long;1982;EMOA;Shining Cliff;Chris Hirst;Jane Robson",
"17;British Long;1983;SEOA;Pippingford Park;Chris Hirst;Jenny Pearson",
"18;British Long;1984;YHOA;Wharncliffe;Martin Bagness;Sue Parkin",
"19;British Long;1985;WMOA;Wyre Forest;Martin Bagness;Jean Ramsden",
"20;British Long;1986;SOA;Achilty;Andy Kitchin;Ann Salisbury",
"21;British Long;1987;SWOA;Lightning Tree Hill;Andy Kitchin;Jean Ramsden",
"22;British Long;1988;NWOA;Holme Fell;Steve Hale;Karen Parker",
"23;British Long;1989;SCOA;Star Posts;Steve Hale;Yvette Hague",
"24;British Long;1990;YHOA;Ewden Valley;Steve Hale;Yvette Hague",
"25;British Long;1991;NEOA;Kyloe;Stephen Palmer;Yvette Hague",
"26;British Long;1992;EAOA;Kelling;Steve Nicholson;Course void",
"27;British Long;1993;WMOA;Brown Clee;Dave Peel;Heather Monro",
"28;British Long;1994;SEOA;Charlton Forest;Neil Conway;Yvette Hague",
"29;British Long;1995;WOA;Newborough Forest;Jon Musgrave;Yvette Hague",
"30;British Long;1996;SOA;Creag Mhic Chailein;Steve Nicholson;Una Creagh",
"31;British Long;1997;EMOA;Clumber Park;Jamie Stevenson;Course void",
"32;British Long;1998;SOA;Black Fell;Steve Nicholson;Yvette Hague",
"33;British Long;1999;NWOA;Graythwaite;Stephen Palmer;Yvette Baker",
"34;British Long;2000;SOA;Loch Vaa;Jon Duncan;Heather Monro",
"35;British Long;2001;WOA;Newborough Forest;Jon Duncan;Jenny James",
"36;British Long;2002;NIOA;Magilligan Strand;Dan Marston;Heather Monro",
"37;British Long;2003;NWOA;High Dam;Ed Nash;Jenny Whitehead",
"38;British Long;2004;SOA;Lossie;Ed Nash;Helen Winskill",
"39;British Long;2005;SWOA;Penhale Sands;Oli Johnson;Helen Winskill",
"40;British Long;2006;SEOA;Furnace Wood & Woolbeding;Jamie Stevenson;Heather Monro",
"41;British Long;2007;WOA;Pwll Du;Oli Johnson;Jenny Johnson",
"42;British Long;2008;SOA;Culbin East;Oli Johnson;Rachael Elder",
"43;British Long;2009;SWOA;New Beechenhurst & Mallards Pike;Oli Johnson;Pippa Whitehouse",
"44;British Middle;1998;NWOA;Tarn Hows;Jamie Stevenson;Yvette Hague",
"45;British Middle;1999;NWOA;Blakeholme;Dickie Wren;Yvette Hague",
"46;British Middle;2000;SOA;Loch Vaa;Ed Nash;Heather Monro",
"47;British Middle;2001;Not held;Foot & Mouth;Not held;Not held",
"48;British Middle;2002;NIOA;Binevenagh;Jon Duncan;Heather Monro",
"49;British Middle;2003;NWOA;Haverthwaite;Oli Johnson;Sarah Rollins",
"50;British Middle;2004;SOA;Culbin;Ewan McCarthy;Helen Winskill",
"51;British Middle;2005;SCOA;The Devil\'s Pound;Oli Johnson;Heather Monro",
"52;British Middle;2006;SWOA;Fonthill;Neil Northrop;Abi Weeds",
"53;British Middle;2007;NEOA;Mulgrave Woods;Oli Johnson;Helen Winskill",
"54;British Middle;2008;WMOA;Hopwas;Matt Crane;Sarah Rollins",
"55;British Middle;2009;EMOA;Cademan & Thringstone Woods;Scott Fraser;Sarah Rollins",
"56;British Middle;2010;NWOA;Haverthwaite;Oli Johnson;Rachael Elder",
"57;British Sprint;2002;NWOA;Williamson Park;Jon Duncan;Sarah Rollins",
"58;British Sprint;2003;SWOA;Ham Hill;Jamie Stevenson;Sarah Rollins",
"59;British Sprint;2004;NWOA;Haverthwaite;Jamie Stevenson;Kim Buckley",
"60;British Sprint;2005;SCOA;Sandhurst;Nick Barrable;Heather Monro",
"61;British Sprint;2006;EAOA;Campbell Park;Graham Gristwood;Sarah Rollins",
"62;British Sprint;2007;YHOA;Scarborough;Scott Fraser;Pippa Whitehouse",
"63;British Sprint;2008;WMOA;University of Warwick;Scott Fraser;Pippa Whitehouse",
"64;British Sprint;2009;EMOA;University of Nottingham;Scott Fraser;Sarah Rollins",
"65;British Sprint;2010;NWOA;Chorley;Graham Gristwood;Sarah Rollins",
"66;British Relay;1972;SOA;Newcastleton;INT (Interlopers, Edinburgh);UNOC (University of Newcastle)",
"67;British Relay;1973;EMOA;Clipstone;OK Nuts;DVO (Derwent Valley)",
"68;British Relay;1974;SWOA;Puddletown;OK Nuts;ROC (Reading)",
"69;British Relay;1975;YHOA;Hope;OUOC (Oxford University);DVO (Derwent Valley)",
"70;British Relay;1976;WOA;Hafodgwenllian;WCOC (West Cumberland);MDOC (Manchester)",
"71;British Relay;1977;SCOA;Christmas Common;ULOC (University of London);MDOC (Manchester)",
"72;British Relay;1978;NEOA;Mulgrave;AIRE (Leeds/Bradford);EBOR (York)",
"73;British Relay;1979;EMOA;Swynnerton;OUOC (Oxford University);DVO (Derwent Valley)",
"74;British Relay;1980;YHOA;Pickering;CUOC (Cambridge University);DVO (Derwent Valley)",
"75;British Relay;1981;SEOA;Holmbury;BAOC (British Army);SYO (South Yorkshire)",
"76;British Relay;1982;SWOA;Pembrey;SN (Southern Navigators, Surrey);LOK (London)",
"77;British Relay;1983;SOA;Dalswinton;FVO (Forth Valley);SLOW (South London)",
"78;British Relay;1984;SCOA;Wendover;SYO (South Yorkshire);ROC (Reading)",
"79;British Relay;1985;EMOA;Clipstone;SHUOC (Sheffield University);SYO (South Yorkshire)",
"80;British Relay;1986;SWOA;Crabtree Hill;BAOC (British Army);SN (Southern Navigators, Surrey)",
"81;British Relay;1987;NEOA;Dipton;SYO (South Yorkshire);CLOK (Cleveland)",
"82;British Relay;1988;NWOA;Torver;WCH (Walton Chasers, Cannock);CLOK (Cleveland)",
"83;British Relay;1989;SCOA;Mytchett;WAROC (Warrior, Lake District);SYO (South Yorkshire)",
"84;British Relay;1990;YHOA;Deffer Woods;SYO (South Yorkshire);SLOW (South London)",
"85;British Relay;1991;NEOA;Callaly;INT (Interlopers, Edinburgh);EUOC (Edinburgh University)",
"86;British Relay;1992;EAOA;Brandon Park;CLYDE (Glasgow);EUOC (Edinburgh University)",
"87;British Relay;1993;WMOA;Brown Clee;SN (Southern Navigators, Surrey);SYO (South Yorkshire)",
"88;British Relay;1994;SEOA;Heyshott;SYO (South Yorkshire);SYO (South Yorkshire)",
"89;British Relay;1995;WOA;Rhos & Bryngefiliau;SYO (South Yorkshire);INT (Interlopers, Edinburgh)",
"90;British Relay;1996;SOA;Coille Nathais;SHUOC (Sheffield University);JOK (Ex-Oxford University)",
"91;British Relay;1997;EMOA;Chatsworth;SHUOC (Sheffield University);ERYRI (North Wales)",
"92;British Relay;1998;SCOA;Mytchett;SYO (South Yorkshire);SYO (South Yorkshire)",
"93;British Relay;1999;NWOA;Holker;SYO (South Yorkshire);SYO (South Yorkshire)",
"94;British Relay;2000;SWOA;Penyard Hill;SYO (South Yorkshire);SYO (South Yorkshire)",
"95;British Relay;2001;Not held;Foot & Mouth;Not held;Not held",
"96;British Relay;2002;NIOA;Baronscourt Estate ;INT (Interlopers, Edinburgh);SYO (South Yorkshire)",
"97;British Relay;2003;YHOA;Greno Woods;OD (Octavian Droobers, Coventry);INT (Interlopers, Edinburgh)",
"98;British Relay;2004;SWOA;Lydney Park;FVO (Forth Valley);SYO (South Yorkshire)",
"99;British Relay;2005;SWOA;Penhale Sands;SHUOC (Sheffield University);SYO (South Yorkshire)",
"100;British Relay;2006;SEOA;Furnace Wood & Woolbeding;WAROC (Warrior, Lake District);CLOK (Cleveland)",
"101;British Relay;2007;WOA;Pwll Du;SHUOC (Sheffield University);SYO (South Yorkshire)",
"102;British Relay;2008;SOA;Culbin West;INT (Interlopers, Edinburgh);SHUOC (Sheffield University)",
"103;British Relay;2009;SCOA;Beaulieu Estate;SYO (South Yorkshire);CLOK (Cleveland)",
"104;British Night;1978;SCOA;Ash Ranges;Harald Hovi;Allyson Reed",
"105;British Night;1979;SCOA;Frith Hill;Adrian Barnes;Allyson Reed",
"106;British Night;1980;WMOA;Sutton Park;Dave Kingham;Kathy Crease",
"107;British Night;1981;NWOA;Delamere Forest;Mark Elgood;C.Beveridge",
"108;British Night;1982;SCOA;Longmoor;Ian Rochford;Frances Watkins",
"109;British Night;1983;EMOA;Bradgate Park;Chris Hirst;Frances Watkins",
"110;British Night;1984;SEOA;Burnham Beeches;Mark Elgood;Karen Parker",
"111;British Night;1985;SWOA;Bulford Ranges;John Rye;Frances Watkins",
"112;British Night;1986;NEOA;Broomley Fell;Steve Hale;Karen Parker",
"113;British Night;1987;EMOA;Clipstone Forest;Steve Hale;Karen Parker",
"114;British Night;1988;EAOA;Sandringham;Bill Edwards;Chris Midgley",
"115;British Night;1989;NWOA;Grindleton;Tim Watkins;Frances Watkins",
"116;British Night;1990;SWOA;Worcester Lodge;Alun Powell;Jackie Hallett",
"117;British Night;1991;WMOA;Clent & Hagley;Clive Hallett;Diane Leakey",
"118;British Night;1992;YHOA;Ogden;Dave Peel;Yvette Hague",
"119;British Night;1993;SEOA;Chelwood;Ulrik Staugaard;Heather Monro",
"120;British Night;1994;NWOA;Delamere Forest;Steve Nicholson;Heather Monro",
"121;British Night;1995;SCOA;Blackwood;Simon Bourne;Alice Bedwell",
"122;British Night;1996;WOA;Pembrey Forest;Dave Peel;Alice Bedwell",
"123;British Night;1997;EAOA;Weybourne Woods;Bill Edwards;Jenny James",
"124;British Night;1998;SOA;Newcastleton;Dave Farquhar;Encarna Maturana",
"125;British Night;1999;WOA;Penhale Sands;Charlie Adams;Michelle Spillar",
"126;British Night;2000;WMOA;Bentley Wood;Dave Peel;Jenny James",
"127;British Night;2001;YHOA;Blackamoor;Oli Johnson;Helen Hargreaves",
"128;British Night;2002;SEOA;Heyshott & Ambersham Commons;Oli Johnson;Sarah Rollins",
"129;British Night;2003;NEOA;Duke\'s House Wood;Steve Birkinshaw;Sarah Rollins",
"130;British Night;2004;EMOA;Crich Chase;Ed Nash;Helen Winskill",
"131;British Night;2005;NWOA;Watergrove;Andrew Etherden;Aislinn Austin",
"132;British Night;2006;SCOA;Hawley & Hornley;Nick Barrable;Sarah Rollins",
"133;British Night;2007;EAOA;Sheringham Park & Weybourne Heath;Nick Barrable;Clare Leventon",
"134;British Night;2008;SWOA;New Beechenhurst;Nick Barrable;Ekaterina Orekhova",
"135;British Night;2009;SEOA;Mytchett;Tuomas Tala;Sarah Rollins",
"136;British Night;2010;SOA;Pentland Hills;Alasdair McLeod;Pippa Archer",
"137;British Long;2010;WMOA;Abraham\'s Valley & Wolseley Park;Matt Crane;Sarah Rollins",
"138;British Relay;2010;WMOA;Wolseley Park;SHUOC (Sheffield University);EUOC (Edinburgh University)",
"139;JK Sprint;2006;YHOA;Temple Newsam, Leeds;Graham Gristwood;Heather Monro",
"140;JK Sprint;2007;SWOA;University of West of England, Bristol;Øystein Kvaal Østerbø;Pippa Whitehouse",
"141;JK Sprint;2008;SEOA;University of Surrey, Guildford;Daniel Hubmann;Sarah Rollins",
"142;JK Sprint;2009;NEOA;Newcastle;Ross Morrison;Pippa Whitehouse",
"143;JK Sprint;2010;SWOA;Bicton College;Graham Gristwood;Sarah Rollins",
"144;JK Individual;1967;SEOA;Hindhead;Gordon Pirie;Jenny Tennant",
"145;JK Individual;1968;SEOA;Haselmere;Jonathon Thomson;M Pinel",
"146;JK Individual;1969;NEOA;Kielder;Frantisek Dvorak;Jitrenka Sevcikova",
"147;JK Individual;1970;EMOA;Clumber Park;Geoff Peck;Carol McNeill",
"148;JK Individual;1971;SEOA;Leith Hill;Per Andreasson;Sue Banner",
"149;JK Individual;1972;WMOA;Beaudesert Park;Rolf Pettersson;Bibbe Siljeblad",
"150;JK Individual;1973;SOA;Queen Elizabeth Park;Rolf Pettersson;Inger Gunnarsson",
"151;JK Individual;1974;SWOA;Speech House North;Rolf Pettersson;Sarolta Monspart",
"152;JK Individual;1975;SCOA;Star Posts;Rolf Pettersson;Lisa Veijalainen",
"153;JK Individual;1976;NWOA;Dalegarth;Jan Fjaerestad;Wenke Jacobsen",
"154;JK Individual;1977;SEOA;Leith Hill;Geoff Peck;Ingrid Ohlsson",
"155;JK Individual;1978;YHOA;Wharncliffe;Chris Hirst;Carol McNeill",
"156;JK Individual;1979;SWOA;Fernworthy;Chris Hirst;Sue Parkin",
"157;JK Individual;1980;SOA;Dalbeattie, Laurieston;Dag Lunder;Sue Parkin",
"158;JK Individual;1981;WMOA;Beaudesert Park;Geoff Peck;Sue Parkin",
"159;JK Individual;1982;SCOA;Star Posts;Alain Gafner;Susanne Luscher",
"160;JK Individual;1983;NWOA;Rusland & Finsthwaite Heights;Martin Bagness;Yvette Hague",
"161;JK Individual;1984;WOA;Moel Y Dyniewyd, Braich Bryn-engan;Martin Bagness;Christine Whalley",
"162;JK Individual;1985;NEOA;Kyloe;Chris Hirst;Marsela Robertson",
"163;JK Individual;1986;EAOA;Brandon Park, Pretty Corner;Martin Bagness;Hilde Tellesbo",
"164;JK Individual;1987;YHOA;Barns Cliff, Newtondale;Robert Bloor;Hazel McNee",
"165;JK Individual;1988;SEOA;Charlton Forest;Stephen Palmer;Karen Parker",
"166;JK Individual;1989;SWOA;Longleat, Stourhead;Hakan Eriksson;Karen Parker",
"167;JK Individual;1990;SOA;Craig a Barnes, Creag Vinean;Steven Hale;Yvette Hague",
"168;JK Individual;1991;EMOA;Shining Cliff, Clumber Park;Steven Hale;Yvette Hague",
"169;JK Individual;1992;NWOA;Bigland;Steven Hale;Yvette Hague",
"170;JK Individual;1993;SCOA;Woolmer, Long Valley;Steven Hale;Heather Monro",
"171;JK Individual;1994;WMOA;Garnstone, Pyon;Christian Hanselman;Alice Bedwell",
"172;JK Individual;1995;YHOA;Wass, Kilnsey;Alain Berger;Yvette Hague",
"173;JK Individual;1996;NEOA;Coate, Mulgrave;Alain Berger;Yvette Hague",
"174;JK Individual;1997;SWOA;Penhale Sands;Mikko Knuuti;Yvette Hague",
"175;JK Individual;1998;WOA;Dolgledr, Tir Stent;Mikko Knuuti;Yvette Hague",
"176;JK Individual;1999;SEOA;Leith Hill, Winterfold;Jamie Stevenson;Heather Monro",
"177;JK Individual;2000;SOA;Loch Rannoch;Andrew Kitchin;Sarah Pattinson",
"178;JK Individual;2001;Not held;Foot & Mouth;Not held;Not held",
"179;JK Individual;2002;SWOA;Lydney, Moseley Green;Jamie Stevenson;Hannah Wootton",
"180;JK Individual;2003;SCOA;Hambleden, Star Posts;Jon Duncan;Heather Monro",
"181;JK Individual;2004;NWOA;Graythwaite Estate;Jamie Stevenson;Hannah Wootton",
"182;JK Individual;2005;WMOA;Brown Clee, Abraham\'s Valley;Jamie Stevenson;Heather Monro",
"183;JK Individual;2006;YHOA;Ilkley Moor, Keldy;Graham Gristwood;Heather Monro",
"184;JK Individual;2007;SWOA;Sallowvallets, New Beechenhurst and The Pludds;Oli Johnson;Jenny Johnson",
"185;JK Individual;2008;SEOA;Leith Hill, Ashdown Forest;Daniel Hubmann;Elise Egseth",
"186;JK Individual;2009;NEOA;Kyloe, Detchant;Oli Johnson;Rachael Elder",
"187;JK Individual;2010;SWOA;Cookworthy Forest, Braunton Burrows;Matt Speake;Sarah Rollins",
"188;JK Relay;1969;NEOA;Kielder;EUOC (Edinburgh University);No race",
"189;JK Relay;1970;EMOA;Shining Cliff;Gular (Norway);No race",
"190;JK Relay;1971;SEOA;Holmbury Hill;Pan Kristianstad (Sweden);No race",
"191;JK Relay;1972;WMOA;Cannock Chase;Goteborg (Sweden);No race",
"192;JK Relay;1973;SOA;North Achray;Hagaby (Sweden);No race",
"193;JK Relay;1974;SWOA;Brierley South;Piz Hasi (Switzerland);Fjaras (Sweden)",
"194;JK Relay;1975;SCOA;Hawley & Hornley;Ikaalisten (Finland);Argus (Switzerland)",
"195;JK Relay;1976;NWOA;Dalegarth West;Ikaalisten (Finland);Fjaras (Sweden)",
"196;JK Relay;1977;SEOA;Eartham Woods;ULOC (University of London);CUOC (Cambridge University)",
"197;JK Relay;1978;YHOA;Strines;BOK (Bristol);INT (Interlopers, Edinburgh)",
"198;JK Relay;1979;SWOA;Bramble Brook;BOK (Bristol);WRE (Wrekin)",
"199;JK Relay;1980;SOA;Mabie Forest;BOK (Bristol);INT (Interlopers, Edinburgh)",
"200;JK Relay;1981;WMOA;Bishop\'s Wood;BOK (Bristol);INT (Interlopers, Edinburgh)",
"201;JK Relay;1982;SCOA;Yateley Heath;SN (Southern Navigators, Surrey);WCH (Walton Chasers, Cannock)",
"202;JK Relay;1983;NWOA;Ulpha Park;OK Orion (SWE);CLYDE (Glasgow)",
"203;JK Relay;1984;WOA;Clogwyn Mawr;SYO (South Yorkshire);MDOC (Manchester)",
"204;JK Relay;1985;NEOA;Callaly;WCH (Walton Chasers, Cannock);ROC (Reading)",
"205;JK Relay;1986;EAOA;Brandon Park;Hagaby (Sweden);NTHI (Trondheim, Norway)",
"206;JK Relay;1987;YHOA;Cawthorne Banks;AIRE (Leeds/Bradford);CLOK (Cleveland)",
"207;JK Relay;1988;SEOA;Longmoor;SELOC (South East Lancashire);SOC (Southampton)",
"208;JK Relay;1989;SWOA;Stock Hill;OK Tyr (Sweden);CLOK (Cleveland)",
"209;JK Relay;1990;SOA;Devilla Forest;OK Tyr (Sweden);Kalev (Estonia)",
"210;JK Relay;1991;EMOA;Clumber Park ;OK Tyr (Sweden);SYO (South Yorkshire)",
"211;JK Relay;1992;NWOA;Bigland;CLYDE (Glasgow);EUOC (Edinburgh University)",
"212;JK Relay;1993;SCOA;Highclere Park;CLYDE (Glasgow);Trondheim (Norway)",
"213;JK Relay;1994;WMOA;Big Wood;SYO (South Yorkshire);SYO (South Yorkshire)",
"214;JK Relay;1995;YHOA;Gilling Woods;SYO (South Yorkshire);SYO (South Yorkshire)",
"215;JK Relay;1996;NEOA;Scugdale;SYO (South Yorkshire);EUOC (Edinburgh University)",
"216;JK Relay;1997;SWOA;Lanhydrock;WAROC (Warrior, Lake District);SYO (South Yorkshire)",
"217;JK Relay;1998;WOA;Garthwyllt;OK Tyr (Sweden);SYO (South Yorkshire)",
"218;JK Relay;1999;SEOA;Hawley & Hornley;SYO (South Yorkshire);WAROC (Warrior, Lake District)",
"219;JK Relay;2000;SOA;Tullochroisk;UNOC (University of Newcastle);FVO (Forth Valley)",
"220;JK Relay;2001;Not held;Foot & Mouth;Not held;Not held",
"221;JK Relay;2002;SWOA;The Scowles;SYO (South Yorkshire);Halden (Norway)",
"222;JK Relay;2003;SCOA;Hambleden;WAROC (Warrior, Lake District);EBOR (York)",
"223;JK Relay;2004;NWOA;Graythwaite;SYO (South Yorkshire);SYO (South Yorkshire)",
"224;JK Relay;2005;WMOA;Hopwas;EUOC (Edinburgh University);SYO (South Yorkshire)",
"225;JK Relay;2006;YHOA;Bramham Park;SHUOC (Sheffield University);SYO (South Yorkshire)",
"226;JK Relay;2007;SW/SC;Caerwent;EUOC (Edinburgh University);SYO (South Yorkshire)",
"227;JK Relay;2008;SEOA;Eridge Old Park;Kristiansand OK (Norway);Wing (Norway)",
"228;JK Relay;2009;NEOA;Dipton Woods;EUOC (Edinburgh University);SYO (South Yorkshire)",
"229;JK Relay;2010;SWOA;Braunton Burrows;SHUOC (Sheffield University);SYO (South Yorkshire)",
"230;Harvester;1978;YHOA;Ecclesall Woods;SLOW (South London);",
"231;Harvester;1979;SCOA;Caesar\'s Camp;BAOC (British Army);",
"232;Harvester;1980;NWOA;Lyme Park;SYO (South Yorkshire);",
"233;Harvester;1981;SEOA;Ash Ranges;SLOW (South London);",
"234;Harvester;1982;YHOA;Hipswell, Barden & Scotton;SN (Southern Navigators, Surrey);",
"235;Harvester;1983;SCOA;Longmoor;Arsunda (Sweden);",
"236;Harvester;1984;SEOA;Mytchett Common;EUOC (Edinburgh University);",
"237;Harvester;1985;YHOA;Pickering Forest;BAOC (British Army);",
"238;Harvester;1986;WMOA;Sutton Park;LOK (London);",
"239;Harvester;1987;WOA;Pembrey Country Park;SN (Southern Navigators, Surrey);",
"240;Harvester;1988;EMOA;The Dukeries;SYO (South Yorkshire);",
"241;Harvester;1989;SWOA;Ibsley & Rockford;SN (Southern Navigators, Surrey);",
"242;Harvester;1990;NWOA;Grizedale East;SELOC (South East Lancashire);",
"243;Harvester;1991;SEOA;Hankley Common;SN (Southern Navigators, Surrey);",
"244;Harvester;1992;SOA;Devilla Forest;CLYDE (Glasgow);",
"245;Harvester;1993;YHOA;Ecclesall Woods;SN (Southern Navigators, Surrey);",
"246;Harvester;1994;SCOA;Lower Star Posts;SYO (South Yorkshire);",
"247;Harvester;1995;WMOA;Brampton Bryan;JOK (Ex-Oxford University);",
"248;Harvester;1996;NEOA;Dipton Woods;CLYDE (Glasgow);",
"249;Harvester;1997;SCOA;Longmoor;BAOC (British Army);",
"250;Harvester;1998;EAOA;Downham High Lodge & Thetford Warren;INT (Interlopers, Edinburgh);",
"251;Harvester;1999;SWOA;Soudley and Blakeney Hill Woods;SYO (South Yorkshire);",
"252;Harvester;2000;NWOA;Watergrove;SYO (South Yorkshire);",
"253;Harvester;2001;Not held;Foot & Mouth;Not held;",
"254;Harvester;2002;NEOA;Dipton Woods;INT (Interlopers, Edinburgh);",
"255;Harvester;2003;EMOA;Longshaw Estate;INT (Interlopers, Edinburgh);",
"256;Harvester;2004;SEOA;Pippingford Park;OD (Octavian Droobers, Coventry);",
"257;Harvester;2005;YHOA;Pillar Wood;SHUOC (Sheffield University);",
"258;Harvester;2006;SOA;Teviothead;SYO (South Yorkshire);",
"259;Harvester;2007;SWOA;Penhale;SYO (South Yorkshire);",
"260;Harvester;2008;SCOA;Bradenham;SYO (South Yorkshire);",
"261;Harvester;2009;WOA;Merthyr Common;FVO (Forth Valley);",
"262;Harvester;2010;SEOA;Eridge Old Park;SHUOC (Sheffield University);",
"263;British Night;2011;WMOA;Bentley Woods;Matt Crane;Tessa Hill",
"264;British Sprint;2011;SEOA;University of Sussex;Murray Strain;Hollie Orr",
"265;British Middle;2011;SEOA;Worth Lodge;Graham Gristwood;Claire Ward",
"266;JK Sprint;2011;NIOA;Stranmillis University College;Matt Crane;Sarah Rollins & Pippa Archer",
"267;JK Individual;2011;NIOA;Tyrella South, Slieve Croob;Hector Haines;Tessa Hill",
"268;JK Relay;2011;NIOA;Tyrella West;INT (Interlopers, Edinburgh);BAOC (British Army)",
"269;British Long;2011;YHOA;Wharncliffe;Doug Tullie;Tessa Hill",
"270;British Relay;2011;YHOA;Tankersley;SHUOC (Sheffield University);WCOC (West Cumberland)",
"271;Harvester;2011;YHOA;Ecclesall Woods & Limb Valley;SYO (South Yorkshire);",
"272;British Night;2012;SWOA;Hamptworth;Mark Bown;Helen Bridle",
"273;British Sprint;2012;YHOA;York University;Chris Smithard;Catherine Taylor",
"274;British Middle;2012;YHOA;Strensall Common;Oli Johnson;Claire Ward",
"275;JK Sprint;2012;SOA;Livingston Almondvale;Murray Strain;Sarah Rollins",
"276;JK Individual;2012;SOA;Dunalastair, Craig A Barns;Scott Fraser;Claire Ward",
"277;JK Relay;2012;SOA;Newtyle Hill;INT (Interlopers, Edinburgh);EUOC (Edinburgh University)",
"278;JK Sprint;2013;SCOA;Whiteknights;Murray Strain;Tessa Hill",
"279;JK Individual;2013;SCOA;Hambleden, Cold Ash;Matt Speake;Catherine Taylor",
"280;JK Relay;2013;SCOA;Hambleden;INT (Interlopers, Edinburgh);SYO (South Yorkshire)",
"281;British Night;2013;YHOA;Tankersley;Richard Robinson/Jonathan Crickmore;Rachael Rothman",
"282;British Sprint;2013;EMOA;Loughborough University;Kris Jones;Tessa Hill",
"283;British Middle;2013;EMOA;Stanton Moor;Murray Strain;Rachael Rothman",
"284;British Long;2013;SEOA;Winterfold;Murray Strain;Tessa Hill",
"285;British Relay;2013;SEOA;Holmbury;OUOC (Oxford University);SYO (South Yorkshire)",
"286;British Long;2012;NWOA;Dalegarth;Hector Haines;Sarah Rollins",
"287;Harvester;2013;SEOA;Longmoor;SYO (South Yorkshire);BOK (Bristol)",
"288;British Night;2014;SEOA;Pippingford Park;Graham Gristwood;Jenny Peel",
"289;JK Sprint;2014;WOA;Singleton Park;Peter Hodkinson;Tessa Hill",
"290;JK Individual;2014;WOA;Merthyr Common, Llangynidr;Hector Haines;Claire Ward",
"291;JK Relay;2014;WOA;Pwll Du;INT (Interlopers, Edinburgh);SYO (South Yorkshire)",
"292;British Long;2014;NEOA;Thrunton Woods and Callaly;Graham Gristwood;Claire Ward",
"293;British Relay;2014;NEOA;Cragg Estate and Chesterhope Common;INT (Interlopers, Edinburgh);EUOC (Edinburgh University)",
"294;British Middle;2014;WMOA;Brereton Spurs;Kris Jones;Tessa Hill",
"295;British Sprint;2014;WMOA;Keele University;Murray Strain;Tessa Hill",
"296;Harvester;2014;SEOA;Winterfold and Pitch Hill;FVO (Forth Valley);FVO (Forth Valley)",
"297;British Night;2015;YHOA;Middleton Park;Graham Gristwood;Claire Ward",
"298;JK Individual;2015;NWOA;Ulpha Park and Barrow Fell, Bigland;Thierry Gueorgiou;Cat Taylor",
"299;JK Relay;2015;NWOA;The Colonel\'s Drive;INT (Interlopers, Edinburgh);FVO (Forth Valley)",
"300;JK Sprint;2015;NWOA;Lancaster University;Scott Fraser/Matthias Kyburz;Emma Klingenberg",
"301;British Long;2015;SWOA;Brierley and New Beechenhurst;Graham Gristwood;Jess Tullie",
"302;British Relay;2015;SWOA;Cannop Ponds;INT (Interlopers, Edinburgh);SN (Southern Navigators, Surrey)",
"303;British Sprint;2015;SCOA;Aldershot Barracks;Murray Strain;Charlotte Ward",
"304;British Middle;2015;SCOA;Naphill and Park Wood;James Tullie;Jess Tullie",
"305;British Night;2016;EMOA;Cademan & Thringstone Woods;Graham Gristwood;Claire Ward",
"306;JK Sprint;2016;YHOA;Leeds University;Kris Jones;Charlotte Ward",
"307;JK Individual;2016;YHOA;Wass, Kilnsey;Anton Johansson;Jo Shepherd",
"308;JK Relay;2016;YHOA;Storthes Hall;FVO (Forth Valley);FVO (Forth Valley)",
"309;British Long;2016;WMOA;Brown Clee;Graham Gristwood;Kim Baxter",
"310;British Relay;2016;WMOA;Brown Clee;EUOC (Edinburgh University);SROC (South Ribble)",
"311;British Sprint;2016;SEOA;Queen Elizabeth Olympic Park;Kris Jones;Charlotte Ward",
"312;British Middle;2016;SEOA;Leith Hill;Kris Jones;Lucy Butt",
"313;Harvester;2015;SWOA;Rushmore;FVO (Forth Valley);SO (Southdowns)",
"314;Harvester;2016;SWOA;Cleeve Hill;NOC (Nottingham);TVOC (Thames Valley)"
      ];
      
      var columnDefs = [
        {headerName: "Event", field: "event"},
        {headerName: "Year", field: "year", sort: "desc", width: 100},
        {headerName: "Assoc", field: "assoc", width: 100},
        {headerName: "Venue", field: "venue", width:250},
        {headerName: "Men", field: "men"},
        {headerName: "Women", field: "women"}
      ];

      var rowData = [];
      var gridOptions = {
        columnDefs: columnDefs,
        rowData: rowData,
        enableSorting: true,
        enableColResize: true,
        enableFilter: true
      };
      var i;
      var r;
      for (i = 0; i < (results.length - 1); i = i + 1) {
        r = results[i].split(";");
        rowData[i] = {event: r[1], year: r[2], assoc: r[3], venue: r[4],
                     men: r[5], women: r[6]};
      }
      var eGridDiv = document.querySelector('#recordsGrid');
      new agGrid.Grid(eGridDiv, gridOptions);
      gridOptions.api.sizeColumnsToFit();
;
    });
  }());
</script>
