{% include base_path %}
<div class="navigation-image">
  <img src="{{ base_path }}/images/maprunnerbanner1240.jpg" alt="Maprunner banner">
</div>
<section class="navigation">
  <div class="nav-container">
    <div class="brand">
      <a href="{{ base_path }}/">Maprunner</a>
    </div>
    <nav>
      <div class="nav-mobile">
        <a id="nav-toggle" href="#!"><span></span></a>
      </div>
      <ul class="nav-list">
        {% for link in site.data.navigation.main %}
          {% if link.newtab != null %}
            {% assign newtab = link.newtab %}
          {% else %}
            {% assign newtab = true %}
          {% endif %}
        <li>
          {% include formatlink title=link.title url=link.url newtab=newtab %}
          {% if link.children != null %}
            <ul class="nav-dropdown">
            {% for child in link.children %}
              {% if child.newtab != null %}
                {% assign newtab = child.newtab %}
              {% else %}
                {% assign newtab = true %}
              {% endif %}
              <li>{% include formatlink url=child.url title=child.title newtab=newtab %}</li>
            {% endfor %}
            </ul>
          {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</section>