---
title: About
permalink: 'about/'
---
{% from "../includes/person.njk" import person %}
{% extends 'page.njk' %}

{% block body %}
  <div class="flex flex-wrap mt-4">
    <div class="w-1/4 p-2">
      <img src="{{ base_path }}/images/maprunner-logo-360x200.png" alt="Maprunner logo">
    </div>
    <div class="w-3/4 p-2">
      <h2>About Maprunner</h2>
      <p>Maprunner was set up by Helen and Simon Errington to provide orienteering services and resources. We have extensive experience of orienteering at all levels from complete beginners up to elite international competition, and can offer help in areas such as:</p>
      <ul>
        <li>training courses for teachers</li>
        <li>introductory courses for children and adults</li>
        <li>coaching</li>
        <li>mapping of schools and parks</li>
        <li>setting up and using permanent courses.</li>
      </ul>
      <div class="flex flex-wrap justify-around mt-4">
        {{ person("Helen", "helen.png", "07941551448", "helen(@)maprunner.co.uk") }}
        {{ person("Simon", "simon.png", "07944384038", "simon(@)maprunner.co.uk") }}
      </div>
      <p class="mt-4 block italic">
        Maprunner LLP is a company registered in England and Wales with company number OC388327. Registered address: 42 Princess Diana Drive, St Albans, Herts AL4 0DQ.
      </div>
    </div>
  </div>
{% endblock %}