---
title: About
permalink: 'about/'
---
{% from "../includes/person.njk" import person %}
{% extends 'page.njk' %}

{% block body %}
  <div class="flex flex-wrap mt-4">
    <div class="w-1/4 p-2">
      <img src="{{ base_path }}/images/maprunner-logo-360x200.png" alt="Maprunner logo">
    </div>
    <div class="w-3/4 p-2">
      <h2>About Maprunner</h2>
      <p>Maprunner was set up by Helen and Simon Errington to provide orienteering training, coaching and mapping services and resources. The Maprunner logo shows Heather Monro running at Battersea Park in the 2005 World Cup, an event that Simon controlled.</p>
      <div class="flex flex-wrap justify-around mt-4">
        {{ person("Simon", "simon.png", "07944384038", "simon(@)maprunner.co.uk") }}
      </div>
    </div>
  </div>
{% endblock %}