---
layout: post
permalink: iof-control-descriptions/
title: 'IOF Control Descriptions'
excerpt: "Maprunner's downloadable guide to IOF orienteering control descriptions."
image: 'iofcondesc.jpeg'
---
<blockquote>Try the <a href="https://www.maprunner.co.uk/iof-control-descriptions/">Maprunner IOF Control Description Quiz</a>.</blockquote>

You can download copies of the Maprunner Guide to IOF Control Descriptions below. The files are available as a gif image or a PDF and are designed for printing at A4 size. If you are having trouble then try right clicking and select “Save Link As….” (or whatever your browser equivalent is) to copy the file to your computer first.

<div class="flex flex-col sm:flex-row justify-center content-evenly mb-4">
  <div class="mt-4 mx-auto grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">

    {% for spec in mapsymbols.cds %}

      <div class="flex flex-col flex-1 px-4 py-4 bg-gray-400 dark:bg-gray-800 rounded-lg shadow-lg">
        <h3 class="text-center">{{ spec.title }}</h3>
        <img class="mx-auto my-4" width="200px" src={{ spec.src }} alt={{ spec.alt }}></img>
        <a href="{{ spec.gif }}" class="text-center">Download GIF</a>
        <a href="{{ spec.pdf }}" class="text-center">Download PDF</a>
      </div>

    {% endfor %}

  </div>
</div>

The complete <a href="https://orienteering.sport/iof/rules/control-descriptions/">IOF Control Description 2018 specification</a> is available from the <a href="https://orienteering.sport/">IOF web site</a>.