---
permalink: "tags/"
---
{% extends 'page.njk' %}
{% block body %}
  <h1>Tags</h1>
  {% set minSize = 0.9 %}
  {% set maxSize = 1.8 %}
  {% set minWeight = 300 %}
  {% set maxWeight = 900 %}
  <ol class="tagscloud">
    {% for tag in collections.tags %}
      {% set tagUrl %}/tag/{{ tag.tag | slugify }}/{% endset %}
      {% set fontSize = (maxSize - minSize) * tag.factor + minSize %}
      {% set fontWeight = (maxWeight - minWeight) * tag.factor + minWeight %}
      <li>
        <a href="{{ tagUrl | url }}" class="tag{{ tag.step }}" style="
        font-size: {{ fontSize | round(2) }}em;
        font-weight: {{ fontWeight | round(0) }}" rel="tag">{{ tag.tag }}</a>
      </li>
    {% endfor %}
  </ol>
{% endblock %}